<header>
  <h3>New Comment</h3>
</header>

<%= simple_form_for [tickete, comment] do |f| %>
  <%= f.input :text %>
  <% if policy(tickete).change_state? %>
    <%= f.association :state %>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>