<div class="tag">
  <% if policy(tickete).tag? %>
    <%= link_to "<span></span>".html_safe,
      remove_tickete_tag_path(tickete, tag), method: :delete, remote: true,
      class: "remove", title: "remove" %>
  <% end %>
  <%= tag.name %>
</div>